{{ define "main" }}

	<main>
		<div class="container-fluid">

			<div class="grid">
				<div class="grid-sizer"></div>
				{{ range .Site.RegularPages -}}
				<div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
				{{ end -}}
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_01.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_02.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_03.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_04.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_05.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_06.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_07.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_08.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_09.jpg"></div>
				<div class="grid-item"><img src="{{ .Site.BaseURL }}/images/img_10.jpg"></div>
			</div>
		  
		  </div>
	</main>

{{ end }}